<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>8_ArriProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdFinderServlet</display-name>
    <servlet-name>IdFinderServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.IdFinderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdFinderServlet</servlet-name>
    <url-pattern>/idFinder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pwFinderServlet</display-name>
    <servlet-name>pwFinderServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.pwFinderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pwFinderServlet</servlet-name>
    <url-pattern>/pwFinder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signUp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HireInfoServlet</display-name>
    <servlet-name>HireInfoServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.HireInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HireInfoServlet</servlet-name>
    <url-pattern>/hireInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBoardServlet</display-name>
    <servlet-name>InsertBoardServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.InsertBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBoardServlet</servlet-name>
    <url-pattern>/inserBord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBoardListServlet</display-name>
    <servlet-name>GetBoardListServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.GetBoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBoardListServlet</servlet-name>
    <url-pattern>/getBoardList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifiedUserServlet</display-name>
    <servlet-name>ModifiedUserServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.ModifiedUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifiedUserServlet</servlet-name>
    <url-pattern>/modifyUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropUserServlet</display-name>
    <servlet-name>DropUserServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.DropUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropUserServlet</servlet-name>
    <url-pattern>/dropOut.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardSearchServlet</display-name>
    <servlet-name>BoardSearchServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.BoardSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardSearchServlet</servlet-name>
    <url-pattern>/boardSearch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrMainServlet</display-name>
    <servlet-name>PrMainServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.PrMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrMainServlet</servlet-name>
    <url-pattern>/prMain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnfairServlet</display-name>
    <servlet-name>UnfairServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.UnfairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnfairServlet</servlet-name>
    <url-pattern>/Unfair.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBoardServlet</display-name>
    <servlet-name>ViewBoardServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.ViewBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBoardServlet</servlet-name>
    <url-pattern>/viewBoard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBoardServlet</display-name>
    <servlet-name>DeleteBoardServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.DeleteBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBoardServlet</servlet-name>
    <url-pattern>/deleteboard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoardServlet</display-name>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <servlet-class>com.arri.web.servlet.UpdateBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <url-pattern>/updateBoard.do</url-pattern>
  </servlet-mapping>
</web-app>