@charset "UTF-8";

table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


#modifyBoar th{
	background-color: #cccccc; 	
	text-align: center;
	padding-top: 10px;
    padding-bottom: 10px;
}